<div class="events">
	<% @events.each do |event| %>
		<%= link_to event.title, event_path(event) %>
	<% end %>
</div>

<p><%= link_to "Create account", new_user_registration_path %>
	<%= link_to "Login", new_user_session_path %></p>